@media (max-width: 775px) {

    .logo{
      display: none;
    }  
    nav ul {
    max-height: 0px; /*this hides nav list*/
    margin-bottom: 20px;
    }

    .showing{
    max-height: 50em; 
    }

    nav ul li {
    width: 100%;
    box-sizing: border-box; /*doesn't expand dimensions of div when padding is applied. It leaves original dimensions.*/
    padding: 5px;
    float: right;
    display: inline-block;
    font-family: 'Eczar', serif;
   /* margin-right: 25px;*/
    }

    nav ul li:hover{
      background: #FBF099;
    }

    .menu-handle {
      display: block;
    } 

    .logo-handle {
      display: block;
    } 

    .logo-img-handle {
      display: block;
    } 
}


/*Navbar*/
@media (max-width: 320px) {
   .navbar-brand.title {
      position: relative;
      right: 10px;
      bottom: 59px;
   }
}

@media (max-width: 384px) {
   .navbar-brand.title {
      position: relative;
      right: 10px;
      bottom: 59px;
   }
}

@media (max-width: 470px) {
   .navbar-brand.title {
      position: relative;
      bottom: 8px;
      right: 12px;
      width: 55%;
   }
}

/*Sidebar*/
@media (max-width: 1440px) {
  .side-bar {
    position: relative;
    left: 30px;
  }
}

@media (max-width: 995px) {
  .side-bar {
    position: relative;
    top: 25px;
  }
}


/*Home Grid*/
@media (max-width: 323px) {
  .brown-square,
  .red-square {
    font-size: 90%;
  }
}

@media (max-width: 318px) {
  .brown-square,
  .red-square {
    width: 48%;
  }
}




