@media (max-width: 775px) {
    .logo{
      display: none;
    } 

    nav ul {
    max-height: 0px; /*this hides nav list*/
    }

    .showing{
    max-height: 50em; /*toggles hamburger dropdown*/
    }

    nav ul li {
    width: 100%; /*makes each <li> on take up a whole line*/
    box-sizing: border-box; /*doesn't expand dimensions of div when padding is applied. It leaves original dimensions.*/
    padding: 2px;
    }

    nav ul li:hover{
      background: #FBF099;
    }

    .menu-handle {
      display: block;
    } 

    .logo-handle {
      display: block;
    } 

    .logo-img-handle {
      display: block;
    } 
}

@media (max-width: 320px) {
   .navbar-brand.title {
      position: relative;
      right: 10px;
      bottom: 59px;
   }
}

@media (max-width: 384px) {
   .navbar-brand.title {
      position: relative;
      right: 10px;
      bottom: 59px;
   }
}

@media (max-width: 470px) {
   .navbar-brand.title {
      position: relative;
      bottom: 8px;
      right: 12px;
      width: 55%;
   }
}

/*Home - Sidebar*/
@media (min-width: 950px) {
  .side-bar {
     position: relative;
     left: 15px;  }
}

@media (max-width: 995px) {
  .side-bar {
    position: relative;
    top: 25px;
  }
}

/*Home - Grid*/
@media (max-width: 323px) {
  .brown-square,
  .red-square {
    font-size: 90%;
  }
}

@media (max-width: 318px) {
  .brown-square,
  .red-square {
    width: 48%;
  }
}
