html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: 'Lato', 'Arial';
  font-weight: 300;
  font-size: 100px;
  text-rendering: optimizeLegibility;
}

body {
  text-align: center;
  margin: 0px auto;
}

.background{
  background: #FFF5DA;
}


/*About Page*/
.about-header{
  font-family: 'Alegreya', serif;
}

.about-desc{
  letter-spacing: 1px;
  font-family: 'Alegreya', serif;
  font-weight: bold;
}

.image-border {
  border: 2px solid black;
}

.hr {
  border-top: 1px solid black;
}

/*Contact Page*/
.contact-header{
  font-family: 'Alegreya', serif;
}

.phone-email,
.contact-desc {
  font-family: 'Alegreya', serif;
  font-weight: bold;
  letter-spacing: 1px;
}

.phone-email {
  text-decoration: underline;
  color: #D29727;  
}

@media (max-width: 992px) {
  .image-border {
    margin-bottom: 20px;
  }
}

.margin {
  margin-bottom: 35px;
}

/*Carousel Override*/
#bootstrap-overrides.carousel-indicators .active {
  background-color: #4C130C;
}

#bootstrap-overrides.carousel-indicators li{
  border: 1px solid black;
}
