.section-features {
  margin-top: 45px;
}

.fa.fa-newspaper-o,
.fa.fa-calendar-o {
  font-size: 300%;
  color: black;
 }

@media(max-width: 991px){
  .fa.fa-newspaper-o {
      margin-top: 30px;
   }
}

.featured-events-news {
  font-family: 'Eczar', serif;
  color: black;
}

.featured-events-news-text{
  color: #4C130C;
}

.date {
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 100px;
}

/*Section Features*/

h3 {
  font-size: 100%;
  word-spacing: 2px; /*space between each word*/
  text-align: center;
  margin-bottom: 30px;
}

.box p {
  font-size: 50%;
  line-height: 145%; /*space between each line*/
}

.icon-big {
  font-size: 400%;
  display: block; /*this forces a line break*/
  color: gold;
  margin-bottom: 10px;
  text-align: center;
}
