#photos{   
  -webkit-column-count: 4; /* Chrome, Safari, Opera */
  -moz-column-count: 4; /* Firefox */
  line-height: 0;           
  column-count: 4;
  -webkit-column-gap: 0px;
     -moz-column-gap: 0px;
          column-gap: 0px;
}
 
#photos > img {
  width: 100%;
  height: auto;
  margin: 5px;
}

.gallery-hr{
  border-top: 5px solid white;
  margin-top: 30px;
}

@media (max-width: 575px) {
    #photos {   
    line-height: 0;           
    column-count: 2;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    -webkit-column-gap: 0px;
       -moz-column-gap: 0px;
            column-gap: 0px;
  }
}