.menu-headers{
  font-family: $Eczar-font;
  text-align:left;
  color: $maroon;
  letter-spacing: 1px;
}

.menu-item,
.item-price {
  font-family: $Eczar-font;
}

.menu-item {
  float: left;
}

.item-price {
  float: right;
}