.about-header{
  font-family: $Alegreya-font;
}

.about-desc {
  letter-spacing: 1px;
  font-family: $Alegreya-font;
  font-weight: bold;
}

.image-border {
  border: 2px solid black;
}

.hr {
  border-top: 1px solid black;
}
