.about-header{
  font-family: 'Alegreya', serif;
}

.about-desc{
  letter-spacing: 1px;
  font-family: 'Alegreya', serif;
  font-weight: bold;
}

.image-border {
  border: 2px solid black;
}

.hr {
  border-top: 1px solid black;
}
